<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
    <!-- BrandLogo -->
    <!-- <i class="fa fa-cubes" style="font-size:40px;color:red"></i> -->
    <a class="navbar-brand" href="/blogs"><img src="/assets/BS.png" style="width:75px;height:65px;"></a>
    <!-- Navbar-Toggler-Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- div, we want to collapse -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" id="nav-list">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Home</a>
            </li>
            
            <li class="nav-item">
                <a href="/blogs/new" class="nav-link">Create a Blog</a>
            </li>
            
            <% if(!currentUser) { %>
            <li class="nav-item ml-auto" id="auth-out">
                <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Sign Up</a>
            </li>
            <% } else { %>
                <li class="nav-item" id="auth-in">
                   <A href="#" class="nav-link disable" ><%= currentUser.name %></A>
                </li>
            <li class="nav-item" >
                <a href="/logout" class="nav-link">LogOut</a>
            </li>
            <% } %>
        
        </ul>



</nav>

</div>
<div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h5><%= error %></h5>
        </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h5><%= success %></h5>
        </div>
    <% } %>
</div>