<%- include("partials/header") %>
<%- include("partials/navbar") %>

<section class="contact">
    <div class="Box">
        <div class="fBox">
            <form action="/login" method="POST">
            
                <legend><h2>Login</h2></legend>
                <div class="iBox">
                    <input type="email" name="username" required="required">
                    <span>Email : </span>
                </div>
                <div class="iBox">
                    <input type="password" name="password" required="required">
                    <span>Password : </span>
                </div>
              
               
                <div class="iBox">
                    
                    <input type="submit" value="Login"><br>
                    <p style="margin-top: 10px;color:#eae7dc;">Don't have an account,&nbsp;<a href="/register" style="text-decoration: none;color :#e85a4f">Sign Up</a></p>
                    
                </div>
            
            </form>
        </div>
      <div class="LoginImgBx">
      </div>
    
</div>


</section>



<%- include("partials/footer") %>