body {
 background : #eae7dc;
}
:root {
    --bg: #eae7dc;
    --nav-item : #323232;
    --secondary: #d8c3a5;
    --tertiary: #8e8d8a;
    --accent: #e98074;
    --text-color: #e85a4f;
  }
  #parent {
    background-image: url('/assets/Background.png');
    background-repeat: no-repeat;
    background-size : cover;
    background-attachment: fixed;
  }
  ::-webkit-scrollbar {
    width : 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 1%;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #ff1e56;
  }
  .navbar {
    padding-left:18%; 
  }
  .nav-brand {
    font-weight : 600 !important;
    
  }
 
  .nav-link {
    color : var(--nav-item);
    font-weight: 600;
    text-transform: uppercase;
    transition : all 0.3s ease-in;
  }
  .nav-link:hover {
    color : var(--text-color);
    border-bottom : 2px solid var(--tertiary);
  }
  .show {
    margin-top : 20px;
    margin-bottom: 20px;
  }

  .card {
    box-shadow : 5px 5px 10px var(--nav-item);
    height : auto;
  }
  .card img {
    height : 250px;
  }
  .card-body {
    background : var(--bg);
  }
 
.contact {
    display : flex;
    justify-content: center;
    align-items: center;
    height : auto;
    background: var(--bg);
  }
  .Box {
    position : relative;
    display: flex;
    box-shadow : 5px 5px 15px var(--tertiary);
    border-radius : 12px;
    width : 100%;
    max-width:1100px;
    margin : 20px;
    height : 600px;
    background : var(--nav-item);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fBox { 
    flex : 0.5;
    /* width : 50%; */
    display: flex;
    justify-content: center;
    background : var(--nav-item);
    align-items : center;
  }
  .fBox form {
    position: relative;
    width : 100%;
    padding : 0 0 0 75px;
  }
  
  .fBox form h2 {
    color : var(--bg);
    font-weight: 600;
    font-size : 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  .fBox form .iBox {
    position : relative;
    margin-bottom: 40px;
  }
  .fBox form .iBox:last-child {
    margin-bottom: 0;
  }
  .fBox form .iBox input, 
  .fBox form .iBox textarea{
    position: relative;
    background: transparent;
    width : 100%;
    color : var(--bg);
    border: none;
    outline: none;
    padding-bottom: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    resize: none;
  }
  .fBox form .iBox textarea {
    height : 100px;
  }
  .fBox form .iBox input[type="submit"] {
    background : var(--bg);
    padding : 5px;
    margin-top: -10px;
    width : 120px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    border-bottom-color: var(--text-color) !important;
    border-radius: 12px;
    color : var(--text-color);
    font-size : 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
  }
  .fBox form .iBox input[type="submit"]:hover {
    background: var(--text-color);
    color : var(--bg);
    border-bottom-color: #ff1e56 !important;
  }
  .fBox form .iBox span {
    position : absolute;
    color : rgba(255,255,255,0.5);
    left : 0;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    transition: all 0.2s;
  }
  .fBox form .iBox input:focus ~ span, 
  .fBox form .iBox textarea:focus ~ span,
  .fBox form .iBox input:valid ~ span, 
  .fBox form .iBox textarea:valid ~ span{
    transform : translateY(-24px);
    color : #ff1e56;
    font-size: 14px;
  }
  .fBox form .iBox input:focus, 
  .fBox form .iBox textarea:focus,
  .fBox form .iBox input:valid, 
  .fBox form .iBox textarea:valid {
    border-bottom-color: var(--text-color) ;
  }
  .fBox form .iBox input[type="submit"]:focus,
  .fBox form .iBox input[type="submit"]:hover {
    border-bottom-color: #ff1e56;
  }
  .imgBx {
   flex : 0.5;
    background-image: url('/assets/undraw_developer_activity_bv83.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    height : 100%;
  }
  .UpdImgBx {
    flex : 0.5;
     background-image: url('/assets/undraw_update_uxn2.svg');
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: px;
     height : 100%;
   }
 

  /* socials section */
#socials {
    background-color: transparent;
    text-align: center;
    padding : 20px;
}

.white-icons {
  color: var(--nav-item);
}

.white-icons:hover {
  color: var(--text-color) !important;
  text-decoration:none ;
}

/* credit section */
#credit {
    text-align: center;
    color: var(--nav-item);
    background-color: transparent !important;
    padding : 20px;
}

#credit a {
  color: var(--tertiary);
} 

#credit a:hover {
  color: var(--text-color) !important;
  text-decoration: none;
  
}
.btn-group {
    display: flex;
    justify-content: space-around;
}

.btn-group a {
    width : 100px !important;
    
}
.btn-group button {
    width : 100px !important;
}
.comments {
  background : var(--bg);
  margin-top : 20px;
  padding : 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.comments li {
  text-align: center; 
}
#cmnt {
  text-align: left;
  margin-top : 10px;
  background : var(--secondary);
  width : fit-content;
  padding-right : 10px;
}
#parent_cmnt {
  background : whitesmoke;
  margin : 5px;
}
.child_cmnt {
  display: flex;
  justify-content: space-between;
  
}
.cmnt-box {
  margin-top : 20px;
  border : 5px solid var(--nav-item);
  width: fit-content;
  text-align : left;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
}
.card-header {
    background : #323232;
    color : var(--text-color);
    padding : 20px;
    border : 1px solid red;
}
.card_heading {
  padding-top : 10px;
  display: flex;
  justify-content: space-between;
}
.card-footer {
    background : #323232;
    padding : 20px;
    border : 1px solid red;
    
}
.card {
    text-align : center;
}


@media only screen and (max-width : 992px) {
    .Box {
        flex-direction: column-reverse;
    }
    .iBox {
        width : 100%;    
    }
    
}